*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-wrap: wrap;
}
body{
    width: 100%;
    scroll-behavior: smooth;
}
header{
    width: 100%;
    max-height: 25rem;
    background-image: url(food/Men\ Colourblock\ Antler\ Embroidery\ Tee\ Without\ Necklace.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    animation: slide 10s linear infinite;
}
span{
    color: red;
}
@keyframes slide {
    0% {
        width: 100%;
        max-height: 25rem;
        background-image: url(food/Homme\ Chemise\ à\ blocs\ de\ couleurs\ à\ imprimé\ cartes\ à\ jouer\ \(sans\ t-shirt\).jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        box-shadow: 0 4px 8px rgba(0,0,0,0.4);
        animation: slide 10s linear infinite;
    }
    20%{
        background-image: url(food/Men\ Two\ Tone\ Letter\ Graphic\ Tee.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
  
    }
    40%{
        background-image: url(food/Men\ Letter\ Graphic\ Mock\ Neck\ Tee.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;

       
    }
    80%{
        background-image: url(food/FASHION™\ Casual\ Hoodie\ -\ Green\ Diag\ _\ US\ XS\ \(Asian\ M\).jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      

    }
    100%{
        background-image: url(food/Metroberta\ 3-color\ shirt\ printing\ summer\ new\ men\'s\ Hawaiian\ short-sleeved\ shirt\ 2024\ men\'s\ casual\ beach\ shirt\ men\'s\ oversized\ shirt\ 5XL\ CS2024XQ607-4XL.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        
    }
}
.men{
    width: 100%;
    min-height: 25rem;;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.head-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.home{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0,0,0,0.8);
    padding: 1rem;

}
.home a {
    text-decoration: none;

}
.home a svg{
    transition: 1s;
}
.home a:hover svg{
    fill: rgb(10, 10, 141);
}
.h1{
    font-size: 1.6rem;
    color: white;
    animation: move 30s linear infinite;
}
@keyframes move {
    0%{
        transform: translate(0%);
     }
     30%{
        transform: translate(-30%);
     }
     60%{
        transform: translate(-60%);
     }
     90%{
        transform: translate(-90%);
     }
     100%{
        transform: translate(-100%);
     }
  
}
.h2{
    font-size: 5rem;
    background: linear-gradient(to right, tomato,yellow);
    background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 10%;
}
.p1{
    text-align: center;
}
.p1 i  {
    color:white;
    font-size: 1rem;
    padding: 15px;
}
.p1 a{
    text-decoration: none;
}
.p1 a:hover i{
    color: blue;
}
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card-container{
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 5rem;
    padding: 0;
    scroll-behavior: smooth;
 }
.card{
    max-width: 325px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    background-color: #f0f0f0;  
    border-radius: 4px;
    
}
.card img{
    width: 100%;
    height: auto;
}
.card-content h3{
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.card-content p{
    font-size: 1rem;
    color: #666;
    line-height: 1rem;
    text-align: left;
    text-align: left;

    
}
.card-content{
    padding: 16px;
}
.content button{
    padding: 15px 20px;
    background-color: rgba(12, 12, 99,0.9);
    color: white;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    margin: 10px;
    transition: background-color 1s;
    
} 
.content button:hover{
    background-color: rgb(124, 124, 244);
}
.content a{
    color: white;
    text-decoration: none;
}
.content h1{
    padding-left: 1.5rem;
}

footer{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer{
    width: 20rem;
    height: 30rem;
    border-bottom: 1px solid rgba(179, 174, 174,0.6);
    margin-left: 3rem;
    
}

.footer h4{
    color: white;
    margin: 4rem 0 ;
    text-align: center;
    text-decoration: underline;
}
.footer p{
    padding-bottom: 2rem;
}
.footer p  a{
    text-decoration: none;
}
.footer p a:hover{
    text-decoration: underline;
    color: orange;
}
.footer p,a{
    color: rgb(123, 123, 123);
    font-size: 1rem;
}
.comp{
    width: 100%;
    background-color: black;

}
.comp p{
    color: rgba(142, 141, 141,0.7);
    text-align: center;
    font-size: 0.8rem;
}
.vid{
    width: 100%;
    display: flex;
    justify-content: center;
  
 }
 video{
    width: 80%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    margin:3rem 0;
 }

@media  screen and (max-width: 460px){
    .h1{
        font-size: .8rem;
    }
    .h2 {
        
        font-size: 3rem;
    }
    
}
